.App main {
    padding: 20px;
}

.App .App-header {
    height: 45px;
    background-color: #282c34;
    padding: 0px 10px;
    color: white;
    line-height: 45px;
}

.App .App-header h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
